[Unit]
Description=faucet.indextc.org
After=network.target
Documentation=https://faucet.indextc.org

[Service]
ExecStart=/root/.nvm/versions/node/v8.11.3/bin/node dist/server/app.js
WorkingDirectory=/root/index-faucet
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=faucet
User=root
Group=root

[Install]
WantedBy=multi-user.target
